<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xd.newsplatform.mapper.NewsMapper">
    <select id="getNewsList" resultType="org.xd.newsplatform.pojo.news">
        select * from news
    </select>

    <select id="getNewsByNewsId" resultType="org.xd.newsplatform.pojo.news">
        select * from news where newsId=#{newsId}
    </select>

    <select id="getNewsListByType" resultType="org.xd.newsplatform.pojo.news">
        select * from news where type=#{type} and visible=1
    </select>

    <select id="getNewsCount" parameterType="String" resultType="int">
        select viewCount from news where newsId=#{newsId}
    </select>

    <update id="updateViewCount" >
        update news set viewCount = #{viewCount} where newsId=#{newsId}
    </update>

    <update id="updateNewsVisible" >
        update news set visible = #{visible} where newsId=#{newsId}
    </update>

    <update id="reviseNews" parameterType="org.xd.newsplatform.pojo.news">
        update news set title = #{title},content = #{content},type = #{type} where newsId=#{newsId}
    </update>

    <insert id="insertNews" parameterType="org.xd.newsplatform.pojo.news">
        insert into news (title,content,userAccount,viewCount,visible,type)
        values
        (#{title,jdbcType=VARCHAR},#{content,jdbcType=LONGVARCHAR},#{userAccount,jdbcType=VARCHAR},
      #{viewCount,jdbcType=INTEGER},#{visible,jdbcType=INTEGER},#{type,jdbcType=INTEGER})
    </insert>

    <delete id="deleteNews" parameterType="int">
        delete from news where newsId=#{newsId}
    </delete>

    <delete id="deleteNewsByUser" >
        delete from news where userAccount=#{userAccount}
    </delete>

</mapper>