<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xd.newsplatform.mapper.UserMapper">
    <select id="getUserByAccount" parameterType="String" resultType="org.xd.newsplatform.pojo.user">
        select * from user where account = #{account}
    </select>
    <select id="getUserByName" parameterType="String" resultType="org.xd.newsplatform.pojo.user">
        select * from user where name = #{name}
    </select>
    <insert id="registerAccount" parameterType="org.xd.newsplatform.pojo.user" >
        insert into user (name,account,password,userRight) values( #{name,jdbcType=VARCHAR},#{account,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
      #{userRight,jdbcType=INTEGER})
    </insert>
</mapper>